@charset "UTF-8";

/* Reset */

* {
    color: #333;   /* 기본텍스트색 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;  /* 배경색 */
}
a          { text-decoration: none; }
a:link        { color: #222; }
a:visited     { color: #222; }
a:hover       { color: #333; }
a:active      { color: #333; }
img           { vertical-align: middle; }
ul            { list-style: none; }
/* Reset */


/* 가이드 라인 */
div#wrap             { border: 1px solid #000; }
/*#wrap>*              { border: 1px solid #000; margin: 1px; }*/
/*#header>div#headerLogo { border: 1px solid #000; }*/
/*#header>nav#gnb        { border: 4px solid #f00; }*/
/* 가이드 라인 */



/* div#wrap */
div#wrap {
    width: 1200px;
    margin: 0 auto;
}
/* div#wrap */

/* header#header */
header#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#header>div#headerLogo {
    width: 220px;
    height: 100px;
    line-height: 100px;
    /*border: 1px solid #f00;*/
}

/*
#header>#headerLogo>img {
    border: 1px solid #00f;
}
*/

    /* nav#gnb */
#header>nav#gnb {
    width: 620px;
}

#header ul#mainMenu {
    /*border: 4px solid #00f;*/
    margin-top: 54px;
    display: inline-block;
    /* 고정 크기( width: 600px 을 설정하지 않음 */
}
#header #mainMenu::after {
    content: "";
    height: 40px;
    display: inline-block;
}

#header>#gnb li.mainLi {
    float: left;
}
#header>#gnb a {
    width: 150px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(67, 155, 18, 0.6);
    display: inline-block;
}
#header>#gnb li.mainLi:not(:first-child)>a {
    border-left: none;
}
#header>#gnb li.mainLi>a:hover {
    color: #0066ad;
    background-color: rgba(67, 155, 18, 0.6);
}

#header>#gnb ul.subMenu {
    /*border: 4px solid #0f0;*/
    display: none;
    position: absolute;
}
#header>#gnb ul.subMenu a {
    border: 1px solid rgba(67, 155, 18, 0.0);
}
#header>#gnb ul.subMenu a:hover {
    color: #0066ad;
    border: 1px solid #fff;
    background-color: #fff;
}
    /* nav#gnb */

/* header#header */

/* div#subMenuBG */
div#subMenuBG {
    /*border: 4px solid #f00;*/
    position: relative;
    top: -4px;

    display: none;
}
div#subMenuBGLayout {
    width: 100%;
    height: 140px;
    background-color: rgba(67, 155, 18, 0.6);
    position: absolute;
}
/* div#subMenuBG */







